enph353/enph353_gazebo/media/materials/textures/labelled/*
enph353/enph353_gazebo/media/materials/textures/unlabelled/*
enph353/enph353_gazebo/nodes/*.csv
enph353/enph353_gazebo/scripts/QRCode_*.png
enph353/enph353_gazebo/scripts/plates.csv
enph353/enph353_utils/scripts/*.txt
enph353/enph353_utils/scripts/robot_view/current_imgs
*.jpg
*.png


enph353/enph353_utils/scripts/yolo_stuff/labels/*
enph353/enph353_utils/scripts/yolo_stuff/aug_labels/labels/*
enph353/enph353_utils/scripts/yolo_stuff/aug_sign_labels/labels/*
enph353/enph353_utils/scripts/yolo_stuff/dataset1/labels/

enph353/enph353_utils/scripts/yolo_stuff/dataset1/*.pt
enph353/enph353_utils/scripts/yolo_stuff/dataset1/runs*
enph353/enph353_utils/scripts/yolo_stuff/dataset1/train.txt
enph353/enph353_utils/scripts/yolo_stuff/dataset1/val.txt

*.cache
